.group {
  padding-top: 1.75rem;

  &--hidden-title {
    padding-top: 0;
  }

  &__title {
    margin: 0 0 1em;
    font-size: 2em;
    font-weight: 500;
    color: var(--group-title-color);
  }

  &__link {
    display: inline-block;
    margin: 0 0 2em;
  }

  TABLE {
    margin: auto;
  }

  TH,
  TD {
    padding: .5em;
  }

  TR:not(:last-child) {
    border-bottom: 1px solid var(--col-3);
  }
}
