BODY {
  display: flex;
  min-height: 100vh;
  background: var(--col-1);
  font: 16px/1.4 Georgia, serif;
  color: var(--col-5-dark-8);
}

A {
  color: var(--col-5);
}

UL {
  list-style-type: none;
}

H1,
H2,
H3,
H4 {
  margin-top: 0;
  font-weight: normal;
}

LI,
Ul {
  margin: 0;
  padding: 0;
}

MARK {
  box-shadow: 0 0 0 2px var(--col-4-dark-5);
  background: var(--col-4-dark-5);
  color: var(--col-2-lght-10);
}

PRE {
  white-space: pre-line;
}

.hidden-content {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTENT
--------------------------------------------- */

.content {

  &__item {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 1rem 2em;
    box-sizing: border-box;
    border-bottom: 1px dotted var(--col-4);
  }

  &__title {
    color: var(--col-4);
  }

  &__desc UL {
    list-style-type: disc;
    padding-left: 2em;
  }

  CODE {
    display: inline-block;
    padding: 0 2px;
    border-radius: 3px;
    background: var(--col-3-lght-10);
  }

  PRE {
    margin: 0;
    padding: 4px;
  }
}
/* Values */
.content-values__term {
  font-weight: bold;
  color: var(--col-4-dark-10);
}

.content-values__desc {
  margin-bottom: 1rem;
}
