BODY {
  display: flex;
  min-height: 100vh;
  background: var(--col-1);
  font: 16px/1.4 Georgia, serif;
  color: var(--col-5-dark-8);
}

A {
  color: var(--col-5);
}

UL {
  list-style-type: none;
}

H1,
H2,
H3,
H4 {
  margin-top: 0;
  font-weight: normal;
}

LI,
Ul {
  margin: 0;
  padding: 0;
}

MARK {
  box-shadow: 0 0 0 2px var(--col-4-dark-5);
  background: var(--col-4-dark-5);
  color: var(--col-2-lght-10);
}

PRE {
  white-space: pre-line;
}

.hidden-content {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTENT
--------------------------------------------- */


