BODY {
  display: flex;
  min-height: 100vh;
  background: var(--body-bg);
  font: 16px/1.4 Georgia, serif;
  color: var(--body-color);
}

A {
  color: var(--link-color);

  &:hover {
    text-decoration: none;
    color: var(--link-color-hover);
  }
}

UL {
  list-style-type: none;
}

H1,
H2,
H3,
H4 {
  margin-top: 0;
  font-weight: normal;
}

LI,
Ul {
  margin: 0;
  padding: 0;
}

DD + DT {
  margin-top: 1rem;
}

MARK {
  box-shadow:
    0 0 0 2px var(--mark-bg),
    0 0 0 2px var(--mark-bg) inset;
  background: var(--mark-bg);
  color: var(--mark-color);
}

PRE {
  white-space: pre-line;
}

DFN {
  font-weight: bold;
}

.hidden-content {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.note {
  padding: 1em;
  background: var(--note-bg);
  border-left: 10px solid var(--note-border);
  border-radius: 3px;
}
