@mixin aside-width {
  width: 23%;
  min-width: 230px;
  max-width: 300px;
}

.l-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.l-main {
  flex: 1;
}

.l-aside {
  position: relative;
  order: -1;
  @include aside-width;
  flex-shrink: 0;
  background: var(--aside-bg);
}

.l-aside__content {
  position: fixed;
  overflow: hidden;
  @include aside-width;
  background: var(--aside-bg);
  height: 100%;
}

.container {
  padding-left: 1em;
  padding-right: 1em;

  @media(min-width: 800px) {
    padding-left: 2em;
    padding-right: 2em;
  }
}
