@mixin aside-width {
  width: 23%;
  min-width: 280px;
  max-width: 350px;
}

.l-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.l-main {
  flex: 1;
}

.l-aside {
  position: relative;
  order: -1;
  @include aside-width;
  flex-shrink: 0;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 10px;
    background: var(--nav-marker-border);
  }
}

.l-aside__content {
  position: fixed;
  @include aside-width;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: var(--aside-bg);

  &::-webkit-scrollbar {
    width: 12px;
  }
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--nav-thumb-bg) var(--nav-scrollbar-bg);
  }
  &::-webkit-scrollbar-track {
    background: var(--nav-scrollbar-bg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--nav-thumb-bg) ;
    border-radius: 6px;
    border: 3px solid var(--nav-scrollbar-bg);
  }
}

.container {
  padding-left: 1em;
  padding-right: 1em;

  @media(min-width: 800px) {
    padding-left: 2em;
    padding-right: 2em;
  }
}
