.l-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.l-main {
  flex: 1;
}

.l-aside {
  position: relative;
  order: -1;
  @include aside-width;
  overflow: hidden;
  background: #DDD;
}
