[data-theme="default"] {
--col-1-darkest: #d1d1d1;
--col-1-darker: #e0e0e0;
--col-1-dark: #f0f0f0;
--col-1: #ffffff;

--col-2-darkest: #afafaf;
--col-2-darker: #bebebe;
--col-2-dark: #cecece;
--col-2: #dddddd;
--col-2-light: #ececec;
--col-2-lighter: #fcfcfc;

--col-3-darkest: #5a5a5a;
--col-3-darker: #696969;
--col-3-dark: #797979;
--col-3: #888888;
--col-3-light: #979797;
--col-3-lighter: #a7a7a7;
--col-3-lightest: #b6b6b6;

--col-4-darkest: #272727;
--col-4-darker: #363636;
--col-4-dark: #464646;
--col-4: #555555;
--col-4-light: #646464;
--col-4-lighter: #747474;
--col-4-lightest: #838383;

--col-5-darkest: #050505;
--col-5-darker: #141414;
--col-5-dark: #242424;
--col-5: #333333;
--col-5-light: #424242;
--col-5-lighter: #525252;
--col-5-lightest: #616161;

--col-6-dark: #020202;
--col-6: #111111;
--col-6-light: #202020;
--col-6-lighter: #303030;
--col-6-lightest: #3f3f3f;

--aside-bg: var(--col-3-lighter);
--nav-marker-border: var(--col-2-dark);
--nav-link: var(--col-6);
--nav-link-hover: var(--col-5);
--nav-link-current: var(--col-5);
--demo-bg: var(--col-2-dark);

--demo-featured-bg: var(--col-3-light);
--demo-code-bg: var(--col-1-dark);
--demo-code-bg-featured: var(--col-2-dark);
}
