[data-theme="sunny"]{
--col-1-darkest: #ffe867;
--col-1-darker: #ffec80;
--col-1-dark: #fff09a;
--col-1: #fff4b3;
--col-1-light: #fff7cd;
--col-1-lighter: #fffbe6;

--col-2-darkest: #eca201;
--col-2-darker: #feb009;
--col-2-dark: #feb923;
--col-2: #fec13c;
--col-2-light: #fec956;
--col-2-lighter: #fed16f;
--col-2-lightest: #fed988;

--col-3-darkest: #9e960e;
--col-3-darker: #b5ad10;
--col-3-dark: #ccc312;
--col-3: #e4da14;
--col-3-light: #ece225;
--col-3-lighter: #eee53d;
--col-3-lightest: #f0e854;

--col-4-darkest: #2b7268;
--col-4-darker: #328479;
--col-4-dark: #39978a;
--col-4: #40a99b;
--col-4-light: #49baab;
--col-4-lighter: #5bc1b3;
--col-4-lightest: #6ec8bc;

--col-5-darkest: #312a1e;
--col-5-darker: #413728;
--col-5-dark: #514431;
--col-5: #61523b;
--col-5-light: #715f45;
--col-5-lighter: #816d4e;
--col-5-lightest: #917a58;

--col-6-darkest: #020101;
--col-6-darker: #110f0b;
--col-6-dark: #211c14;
--col-6: #312a1e;
--col-6-light: #413828;
--col-6-lighter: #514531;
--col-6-lightest: #61533b;

--mark-color: var(--col-1);
--control-color: var(--col-1-dark);
--code-bg: var(--col-2-light);
}
