[data-theme="winter"] {
--col-1-darkest: #d9bb83;
--col-1-darker: #e1ca9e;
--col-1-dark: #ead9ba;
--col-1: #f2e8d5;
--col-1-light: #faf7f0;

--col-2-darkest: #e0b763;
--col-2-darker: #e6c581;
--col-2-dark: #ecd29f;
--col-2: #f2e0bd;
--col-2-light: #f8eedb;
--col-2-lighter: #fefcf9;

--col-3-darkest: #e6693c;
--col-3-darker: #ea825c;
--col-3-dark: #ee9a7b;
--col-3: #f2b29b;
--col-3-light: #f6caba;
--col-3-lighter: #fae3da;
--col-3-lightest: #fefbfa;

--col-4-darkest: #122b3a;
--col-4-darker: #1a3f55;
--col-4-dark: #235371;
--col-4: #2b678c;
--col-4-light: #337ba7;
--col-4-lighter: #3c8fc3;
--col-4-lightest: #579fcb;

--col-5-darkest: #030609;
--col-5-darker: #0c1923;
--col-5-dark: #152c3e;
--col-5: #1e3e59;
--col-5-light: #275174;
--col-5-lighter: #30648e;
--col-5-lightest: #3977a9;

--col-6-dark: #050b10;
--col-6: #0c1923;
--col-6-light: #132736;
--col-6-lighter: #193449;
--col-6-lightest: #20425c;
}
